
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


  :root {
    --background-color: whitesmoke; 
    --text-color: #373F47;
    --border-style: #373F47 1px solid;
}

.body {
 background-color: var(--background-color);
 color: var(--text-color);
  width: 100%;
  min-width: 736px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background: rgba(184, 184, 184, 0.664);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    
}

.list {
    padding: 4px;
    border: var(--border-style);
    border-radius: 20px;
    &__details {
        margin: 3px;
        padding: 16px;
        text-align: left;
        list-style: none;
        
    }
}

li::before {
    content: '🗂'; }